body {
  /* because of the fixed navbar */
  padding-top: 4.5rem;
}

img {
  max-width: 100%;
}

nav {
  margin-bottom: 20px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.list-group-url {
  overflow: auto;
  height: calc(100vh - 20px);
}

.list-group-url a {
  word-break: break-word;
}

img.screenshot {
  margin-top: 2rem;
  border: 1px dotted #ccc;
  padding: 10px;
}

.validation {
  border: 1px dotted #ccc;
  padding: 10px;
}

.diff-screenshot,
.diff-layer {
  position: absolute;
}


li app-resource:not(:last-child) {
  display: block;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.resource-status-0 > .resource-url,
.resource-status-0 > .resource-status {
  background-color: #7de07d;
}

.resource-status-1 > .resource-url,
.resource-status-1 > .resource-status {
  background-color: #ffd68a;
}

.resource-status-2 > .resource-url,
.resource-status-2 > .resource-status {
  background-color: #ff9898;
}
