body {
  /* because of the fixed navbar */
  padding-top: 4.5rem;
}

img {
  max-width: 100%;
}

nav {
  margin-bottom: 20px;
}

.fa-check {
  color: green;
}

.fa-times {
  color: red;
}

.list-group-url {
  overflow: auto;
  height: calc(100vh - 20px);
}

.list-group-url a {
  word-break: break-word;
}

img.screenshot {
  margin-top: 2rem;
  border: 1px dotted #ccc;
  padding: 10px;
}

.validation {
  border: 1px dotted #ccc;
  padding: 10px;
}

.diff-screenshot,
.diff-layer {
  position: absolute;
}
