<h5>Diff</h5>

<ng-template [ngIf]="diff && diff.a_url_id" [ngIfElse]="noDiff">
  <a (click)="showLayer = !showLayer">Show layer</a>
  <div class="row diff-part">
    <div class="col-6">
      <img [src]="api_url + '/screenshots/' + diff.a_url_id" class="diff-screenshot">
      <img [src]="api_url + '/diff/' + diff.screenshot_diff_id" class="diff-layer" *ngIf="showLayer">
    </div>
    <div class="col-6">
      <img [src]="api_url + '/screenshots/' + diff.b_url_id" class="diff-screenshot">
      <img [src]="api_url + '/diff/' + diff.screenshot_diff_id" class="diff-layer" *ngIf="showLayer">
    </div>
  </div>
</ng-template>

<ng-template #noDiff>
  No diff for this url
</ng-template>
