<div class="container-fluid webchecker-app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WebChecker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <ng-template [ngIf]="projectService.currentProject">{{ projectService.currentProject.name }}</ng-template>
          </a>
          <div ngbDropdownMenu>
            <ng-template ngFor let-project [ngForOf]="projects">
              <a class="dropdown-item" href="#" [routerLink]="['/p', project.id, 'v', project.current_version.id]" *ngIf="project !== projectService.currentProject">{{ project.name }}</a>
            </ng-template>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
