<div class="container-fluid webchecker-app">
  <div class="row">
    <div class="col-md-3">
      <input type="text" class="form-control" #input />
      <div class="text-center">
        <div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="filterModel" (ngModelChange)="onChange($event)">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="null"> All
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="STATUS.GOOD"> Good
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="STATUS.BAD"> Bad
          </label>
        </div>
      </div>
      <br>

      <div class="list-group list-group-url">
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['/urls', url.url_id]" routerLinkActive="active" *ngFor="let url of urls">
          {{ url.url }}
          <i class="fa fa-check" *ngIf="url.status.status === STATUS.GOOD"></i>
          <i class="fa fa-times" *ngIf="url.status.status === STATUS.BAD"></i>
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
