<div class="container-fluid webchecker-app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">WebChecker</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link active" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <ng-template [ngIf]="projectService.currentProject">{{ projectService.currentProject.name }}</ng-template>
          </a>
          <div ngbDropdownMenu>
            <ng-template ngFor let-project [ngForOf]="projects">
              <a class="dropdown-item" href="#" [routerLink]="['/p', project.id, 'v', project.current_version.id, currentAction]" [class.active]="project === projectService.currentProject">{{ project.name }}</a>
            </ng-template>
          </div>
        </li>

        <li class="nav-item" ngbDropdown *ngIf="projectService.currentProject">
          <a class="nav-link active" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <ng-template [ngIf]="projectService.currentProject">Version: {{ projectService.currentVersion.version }}</ng-template>
          </a>
          <div ngbDropdownMenu>
            <ng-template ngFor let-version [ngForOf]="projectService.currentProject.versions">
              <a class="dropdown-item" href="#" [routerLink]="['/p', projectService.currentProject.id, 'v', version.id, currentAction]" [class.active]="version.id === projectService.currentVersion.id">{{ version.version }}</a>
            </ng-template>
          </div>
        </li>

        <li class="nav-item" ngbDropdown *ngIf="projectService.currentProject">
          <a class="nav-link active" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            <ng-template [ngIf]="currentAction">Action:
              <ng-template [ngIf]="currentAction == 'v'" [ngIfElse]="diff">
                Validation
              </ng-template>
              <ng-template #diff>
                Diff
              </ng-template>
            </ng-template>
          </a>
          <div ngbDropdownMenu>
            <a class="dropdown-item" [class.active]="currentAction === 'v'" [routerLink]="['/p', projectService.currentProject.id, 'v', projectService.currentVersion.id, 'v']" (click)="setCurrentAction('v');">Validation</a>
            <a class="dropdown-item" [class.active]="currentAction === 'd'" [routerLink]="['/p', projectService.currentProject.id, 'v', projectService.currentVersion.id, 'd']" (click)="setCurrentAction('d');">Diff</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
